$footer-background: #F7F2E9;
$footer-onBackground: #181A18;

footer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-color: $footer-background;
  width: 100%;
  min-height: fit-content;
  position: relative;
  padding: 80px;
}

footer ::selection {
  background-color: $footer-onBackground;
  color: $footer-background;
}

.spikes-footer {
  position: absolute;
  height: 45px;
  top: -45px;
  left: 0;
  fill: $footer-background;
  width: 5896px;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: relative;
    gap: 2rem;
    cursor: pointer;

    & > svg {
      width: 5rem;
      height: 5rem;
      transition: all .3s ease-out;

      &:last-of-type {
        transform: translateX(-7rem) scale(0);
      }
    }

    & > a {
      font-size: 8rem;
      color: $footer-onBackground;
      text-decoration: none;
      background-color: $footer-background;
      line-height: .8;
      font-weight: 400;
      transition: all .3s ease-out;
      padding-top: .9rem;
      font-family: var(--font-display), sans-serif;
      white-space: nowrap;
      left: 6rem;
      z-index: 1
    }

    &:hover {

      & > a {
        font-weight: 900;
        transform: translateX(-7rem);
      }

      & > svg {
        &:first-of-type {
          transform: scale(0);
        }

        &:last-of-type {
          transform: translateX(-7rem) scale(1);
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 2rem;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: relative;

    & > h2 {
      font-size: 1rem;
      font-weight: 500;

    }

    & > h1 {
      font-size: 2rem;
      font-weight: 700;
      cursor: pointer;
      background-color: $footer-background;
      z-index: 1;

      & ~ span {
        position: absolute;
        left: 0;
        bottom: 6px;
        padding: 5px 10px;
        border-radius: 8rem;
        background-color: $footer-background;
        font-size: .8rem;
        z-index: 0;
        border: 2px dashed $footer-onBackground;
        transition: all .3s ease-out;
        transform: scale(0);
        font-weight: 700;
      }

      &.copied ~ span {
        left: -90px;
        transform: scale(1);
      }

      &:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        background-color: $footer-onBackground;
        transition: all .3s ease-out;
      }

      &:hover:after {
        width: 100%;
        right: 0;
        left: initial;
      }
    }
  }
}