footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #067100;
  width: 100%;
  min-height: 4000px;
  position: relative;
}

.spikes-footer {
  position: absolute;
  height: 45px;
  top: -45px;
  left: 0;
  fill: #067100;
  width: 5896px;
}