.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 1300px;
  background-image: url("/assets/images/hills-flipped.png");
  background-size: cover;
  background-position: top;
  background-color: #0c0c1e;
}