#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 1000px;
  background-color: #0a0a0a;
  padding: 0 100px;
  gap: 10rem;
  z-index: 1;
  overflow: visible;
}

.aurora-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.waves-top, .waves-bottom {
  position: absolute;
  height: 45px;
  top: -40px;
  left: 0;
  fill: #0a0a0a;
  transform-origin: bottom;
}

.waves-bottom {
  top: auto;
  bottom: -90px;
  transform-origin: top;
  transform: rotate(180deg);
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: 600px;
  color: #ffffff;
  text-align: justify;
  z-index: 10;
}


.about-title {
  font-size: 8rem;
  font-family: var(--font-glyph);
  line-height: 0.70em;
  perspective: 800px;
  opacity: .1;

  &:hover {
    animation-play-state: paused;
  }
}

.about-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #d6d6d6;
  font-family: var(--font-mono), monospace;

  & > span:last-child {
    animation: cursor-blink 1s steps(1, end) infinite;
  }
}

.flip-me-tip {
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  right: 550px;

  & > p {
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
    font-family: var(--font-handwritten);
    transform: rotateZ(-12deg);
  }

  & > img {
    width: 100px;
    height: 100px;
    margin-left: 1rem;
    margin-bottom: 2rem
  }
}

@keyframes flicker-light {

  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92.1% {
    opacity: .1;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92% {
    opacity: 1;
    text-shadow: 0 0 4px #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0a0a0a10);
  }

  100%  {
    opacity: 1;
    text-shadow: 0 0 10px #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0a0a0a10);
  }
}

@keyframes cursor-blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}
